<div class="q-item-container q-coalition-calculation" style="opacity: 0;">
  {{ #if hideTitle !== true && title }}
    <h3 class="s-q-item__title">{{ title }}</h3>
  {{ /if }}
  {{ #each augmentedPossibleCoalitions as coalition, i }}
  <div class="q-coalition-calculation-row">
    <div class="q-coalition-calculation-column s-color-gray-3 q-coalition-calculation-barchart-container">
      {{ #each coalition.parties as party }}
      <div 
        class="{{ party.useClass ? party.color.classAttribute : '' }} q-coalition-calculation-barchart-bar" 
        style="{{ party.barStyle }}"
        ></div>
      {{ /each }}
      {{ #if totalSeats && coalition.totalSeats > 0}}
      <div class="q-coalition-calculation-barchart-label s-font-note-s s-font-note-s-strong" style="left: {{ coalition.totalPercents }}%;">{{ coalition.totalSeats }}{{ i === 0 ? " Abgeordnete" : "" }}</div>
      <div class="s-font-note-s s-color-gray-5 q-coalition-calculation-majority-label">{{ i === 0 ? "Mehrheit: " : "" }}{{ majority }}</div>
      {{ elseif i === 0 }}
      <div class="s-font-note-s s-color-gray-5 q-coalition-calculation-majority-label">Mehrheit</div>
      {{ /if }}
    </div>
    <div class="q-coalition-calculation-column q-coalition-calculation-description-container s-font-text-s">
      {{ #each coalition.parties as party, i }}
      <span class="s-font-text s-font-text--strong {{ party.useClass ? party.color.classAttribute : '' }}" style="{{ party.fontStyle }}">{{ party.name }}</span>{{ i + 1 < coalition.parties.length ? ( i + 2  === coalition.parties.length ? ' und' : ',') : '' }}
      {{ /each }}komm{{ coalition.parties.length > 1 ? 'en gemeinsam' : 't' }} auf {{ coalition.totalSeats }} Abgeordnete ({{ coalition.totalPercents }}%).
    </div>
  </div>
  {{ /each }}
  {{ #if notes }}
  <div class="s-q-item__footer">
    <span class="s-q-item__footer__notes">{{ notes }}</span>
  </div>
  {{/if}}
</div>

<script>
  export default {
    computed: {
      hideTitle: (toolRuntimeConfig) => toolRuntimeConfig && toolRuntimeConfig.displayOptions && toolRuntimeConfig.displayOptions.hideTitle,
      majority: (totalSeats) => Math.floor(totalSeats / 2 + 1),
      augmentedPossibleCoalitions: (totalSeats, possibleCoalitions, parties) => {
        
        // augment coaltion's party references with full data and calculate its seat total
        return possibleCoalitions.map(coalition => {
          
          let totalCoalitionPercents = 0;
          let totalCoalitionSeats = 0;
          let coalitionParties = coalition.map(party => {
            
            if (party === null) {
              return undefined;
            }

            // augment coaltion party with full party data using the party name as reference
            let augmentedParty = parties.find(p => p.id === party.id);
            if (augmentedParty === undefined) {
              return undefined;
            }
            
            // additionally augment the party with properties to render its name and bar chart markup 
            augmentedParty.useClass = augmentedParty.color.classAttribute !== undefined && augmentedParty.color.classAttribute !== '';
            augmentedParty.fontStyle = "";
            const partyPercents = totalSeats ? Math.round(augmentedParty.seats / totalSeats * 100) : 0;
            totalCoalitionPercents += partyPercents;
            totalCoalitionSeats += augmentedParty.seats || 0;
            augmentedParty.barStyle = `width: ${ partyPercents }%;`;
            if (augmentedParty.useClass) {
              augmentedParty.barStyle += 'background-color: currentColor';
            } else {
              augmentedParty.fontStyle = `color: ${augmentedParty.color.colorCode}`
              augmentedParty.barStyle += `background-color: ${augmentedParty.color.colorCode}`
            }
            return augmentedParty;
          }).filter(p => p !== undefined);

          if (coalitionParties.length > 0) {
            return {
              parties: coalitionParties,
              totalPercents: totalCoalitionPercents,
              totalSeats: totalCoalitionSeats
            };
          } else {
            return undefined;
          }

        }).filter(c => c !== undefined);
      }
    }
  };
</script>
