<div class="q-item-container q-coalition-calculation" style="opacity: 0;">
  {{#if hideTitle !== true }}
    <h3 class="s-q-item__title">{{title}}</h3>
  {{/if}}
  {{ #each possibleCoalitionsObjects as coalition }}
  <div class="q-coalition-calculation-row">
    <div class="q-coalition-calculation-column s-color-gray-3 q-coalition-calculation-barchart-container">
      {{ #each coalition.parties as party }}
      <div 
        class="q-coalition-calculation-barchart-bar" 
        style="width:{{ getPercents(party.seats) }}%;background-color:{{ party.color }}"
        ></div>
      {{ /each }}
      <div class="q-coalition-calculation-barchart-label s-font-note-s s-font-note-s-strong" style="left:{{ getPercents(coalition.total) }}%;">{{ coalition.total }} Abgeordnete</div>
      <div class="s-font-note-s s-color-gray-5 q-coalition-calculation-perc-label">Mehrheit: {{ majority }}</div>
    </div>
    <div class="q-coalition-calculation-column q-coalition-calculation-description-container s-font-text-s">
      {{ #each coalition.parties as party, i }}
      <span class="s-font-text s-font-text--strong" style="color:{{ party.color }}">{{ party.name }}</span>{{ i + 1 < coalition.parties.length ? ' und ' : ' ' }}
      {{ /each }}
      komm{{ coalition.parties.length > 1 ? 'en gemeinsam' : 't' }} auf {{ coalition.total }} Abgeordnete ({{ getPercents(coalition.total) }}%).
    </div>
  </div>
  {{ /each }}
</div>

<script>
  export default {
    computed: {
      hideTitle: (toolRuntimeConfig) => toolRuntimeConfig && toolRuntimeConfig.displayOptions && toolRuntimeConfig.displayOptions.hideTitle,
      majority: (totalSeats) => totalSeats % 2 === 0 ? totalSeats / 2 : Math.ceil(totalSeats / 2),
      getPercents: (totalSeats) => {
        let max = totalSeats;
        return (seats) => {
          return Math.round(seats / max * 100) 
        }
      },
      possibleCoalitionsObjects: (possibleCoalitions, parties) => {
        return possibleCoalitions.map(coalition => {
          let coalitionParties = coalition.map(party => Object.assign({ name: party }, parties.find(p => p.name === party)));
          let totalSeats = coalitionParties.reduce((p, c) => p + c.seats, 0);
          return {
            parties: coalitionParties,
            total: totalSeats
          }
        });
      }
    }
  };
</script>
